.body {
    margin-top: 100px;
}

.photoAndName {
    background-color:rgba(217, 227, 219, 0.85);
    -webkit-border-radius:.25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
}

.charImg { 
    -webkit-border-top-left-radius: .25rem;
    -webkit-border-bottom-left-radius: .25rem;
    -moz-border-radius-topleft: .25rem;
    -moz-border-radius-bottomleft: .25rem;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    background-image: url("../../assets/thumbnail404.jpg");
    width: 84px;
    height: 84px;
   
}

.charInfo {
    font-size: 40px;
    vertical-align: middle;   
}

.information {
    background-color:rgba(217, 227, 219, 0.85);
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
    margin-top: .25rem;
}

.green {
    color: #3a893a;
}

.bold {
    font-weight: bold;
}

.aRight {
    text-align: right;
} 
