.container
{
    display:inline-block;
}
.sidebar
{
    float: right;
    width: 20%;
    background-color: magenta;
    height: 800px;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 3px;
    margin-top: 0px;
}
.navigation
{
    float:left;
    width: 20%;
    background-color: blue;
    height: 800px;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 15px;
    margin: 3px;
    margin-top: 0px;
}
.content
{
    float: left;
    width: 58%;
    box-sizing: border-box;
    padding: 20px;
    font-size:14px;
}
.header-content
{
    background-color: magenta;
    text-align: center;
    margin: 3px;
    box-sizing: border-box;
    border-radius: 5px;
}
.footer-content
{
    background-color: magenta;
    text-align: center;
    margin: 3px;
    margin-top: 0px;
    box-sizing: border-box;
    border-radius: 5px;
}
.article
{
    background-color: blue;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 3px;
    margin-top:0px;
}
.header
{
    background-color: magenta;
    height: 65px;
    text-align: center;
    font-family: 'Patua One', cursive;
    font-size: 46px;
    margin: 3px;
    padding-top:10px;
    box-sizing: border-box;
    border-radius: 15px;
}
.footer
{
    background-color: magenta;
    height: 100px;
    font-size: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    margin-top:0px;
}
.navBarItem
{
    text-decoration: none;
}
.navBarItemContainer
{
    
    list-style-type: none;
}
.body
{
    font-weight: bold;
    font-family: 'Patua One', cursive;
}