.body {
    margin-top: 100px;
    
}

.title {
    background-color:rgba(217, 227, 219, 0.85);
    -webkit-border-radius:.25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
}

.green {
    color: green;
    font-weight: bold;
}

.orange {
    color: orange;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}

.list-group-item {
    background-color:rgba(217, 227, 219, 0.85);
    -webkit-border-radius:.25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
}

.bold {
    font-weight: bold;
}
