/* You can add global styles to this file, and also import other style files */
.body{
    background-attachment: fixed;
    background-color: green;
    background-image: url("./assets/illidan2.png");
}