.body {
    margin-top: 100px;
}

.list-group-item {
    background-color:rgba(217, 227, 219, 0.85);
    -webkit-border-radius:.25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
    display: list-item;
}

.title {
    background-color:rgba(217, 227, 219, 0.85);
    -webkit-border-radius:.25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
}

.list-group {
    list-style: decimal inside;
}

.green {
    color: #3a893a;
    font-weight: bold;
}
